@import "./mixins/absolute-center.scss";

$size: data-size;


.slider-btn {
  position: relative;
  width: 100%;
  border-radius: 9999px;
  background-color: rgb(243, 243, 247);
  height: 32px;
  display: flex;
  //position: relative;
  overflow: hidden;
  margin: 8px 0;
  &__slider {
    position: absolute;
    box-sizing: border-box;
    height: 32px;
    padding: 2px;
    transition: transform 0.2s ease-in-out;

    &_small {
      width: calc(100% / 3);
    }

    &_large {
      width: calc(100% / 2);
    }

    &::before {

      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-color: white;
      box-shadow: #06053230 0 6px 20px;
      border-radius: 9999px;
    }
  }

  &__item {
    &_small {
      width: calc(100% / 3);
    }

    &_large {
      width: calc(100% / 2);
    }

    flex-grow: 1;

    label {
      z-index: 1000;
      position: relative;
      display: block;
      width: 100%;
      text-align: center;
      font-size: 12px;
      line-height: 32px;
      cursor: pointer;

      input {
        display: none;
      }
    }

  }

}

.modal {
  @include absolute-center;
  position: fixed;
  z-index: 1000;
  visibility: hidden;
  display: flex;
  box-shadow: #00000033 0 30px 60px;
  background-color: #fff;
  border-radius: 20px;

  &__close {
    position: absolute;
    top: 14px;
    right: -38px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
    font: inherit;
    color: #fff;
    background-color: transparent;
    transition: transform 0.1s ease-in-out;

    &:hover {
      transform: scale(1.11);
    }
  }

  &_active {
    visibility: visible;

    & ~ .modal-bg {
      visibility: visible;
    }
  }

  &_medium {
    width: 924px;
    height: 610px;
  }

  &-bg {

    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.55;
    width: 100vw;
    height: 150vh;
  }

  &__left {
    width: 530px;
    height: 100%;
  }

  &__right {
    width: 394px;
    height: 100%;
    padding: 30px;
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    padding: 0 3px 0;
  }

  &__scroll {
    height: 487px;
    overflow: hidden scroll;
    padding: 0 17px;
    margin-bottom: 25px;

    &::-webkit-scrollbar {
      width: 8px;

      &-thumb {
        background-color: rgba(57, 57, 57, 0.3);
        border-radius: 4px;
      }
    }
  }

  &__cart-btn {
    display: block;
    width: 100%;
    height: 48px;
    padding: 12px 24px;
    margin: auto;
    border: none;
    background-color: #ff6900;
    font-family: inherit;
    border-radius: 9999px;
    color: white;
    font-size: 16px;
    line-height: 24px;

    &:hover {
      background-color: #e86100;
      cursor: pointer;
    }


  }

  &__info {
    font-family: 'Segoe UI', sans-serif;
    color: #5c6370;
    font-size: 14px;
    line-height: 20px;
    margin: 1px 0 5px;
  }


}


.ingredient-list {
  position: relative;
  right: 2px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  list-style-type: none;

  &__item {
    margin-left: 2px;

    &[data-optional="true"] {
      position: relative;
      padding-right: 18px;
      cursor: pointer;

      span {
        border-bottom: 1px dashed #5c6370;
      }

      &::after {
        position: absolute;
        top: 15%;
        right: 0;
        content: url("./images/close.svg");
      }
    }

    &[data-removed="true"] {
      span {
        border-bottom: 1px solid transparent;
        text-decoration: line-through;
      }

      &::after {
        content: url("./images/return.svg");

      }
    }
  }

}

.addons {
  &__title {
    font-size: 18px;
    color: #000;
    line-height: 1;
    font-weight: 500;
    margin-top: 22px;
    margin-bottom: 12px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: calc(33.3333% - 6px);
    height: 166px;
    //padding: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    box-shadow: #0605321f 0 4px 20px;
    border-radius: 12px;
    transition: box-shadow 150ms ease-out;
    cursor: pointer;
    border: 1px solid white;

    &_selected {
      box-shadow: #0605321f 0 0 8px;
      border: 1px solid #ff6900;

      &::after {
        position: absolute;
        top: 3px;
        right: 3px;
        content: url("./images/tick.svg");
      }
    }
  }
}

.addon-card {
  &__image {
    width: 90px;
  }

  &__title {
    height: 32px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  &__price {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin: 4px;
  }
}


.hidden {
  display: none;
}