.SnackCards {
	display: flex;
	justify-content: left;
	align-items: center;
}

.SnackCard {
	height: 450px;
	width: 292px;
}

.Card > h2 {
	font-size: 20px;
	font-weight: 500;
}

.Card > p {
	margin-top: 10px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.1em;
	color: #5c6370;
	width: 233px;
	text-align: left;
}

.Snackimg > img:hover {
	transition: top 150ms ease-out;
	position: relative;
	top: 5px;
}

.Snackimg > img {
	transition: 3s;
	width: 95%;
	transition: 2s;
}

.costToTake {
	width: 220px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.costToTake > p {
	font-size: 16px;
	font-weight: 700;
	position: relative;
	top: 5px;
}

.costToTake > button {
	margin-top: 10px;
	background: rgb(255, 240, 230);
	color: rgb(209, 87, 0);
	border: 0 solid #000;
	height: 40px;
	font-size: 16px;
	padding: 8px 30px;
	border-radius: 25px;
	transition: 0.2s linear;
}

.costToTake > button:hover {
	background: rgb(241, 171, 120);
}

@media only screen and (max-width: 1459px) {
	.Card {
		width: 233px;
	}

	.SnackCard {
		width: 233px;
	}

	.costToTake > p {
		font-size: 14px;
	}
}
