.modalBackground {
	margin-top: 930px;
	z-index: 1;
	width: 100vw;
	height: 105vh;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.modalContainer {
	width: 500px;
	height: 100%;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	flex-direction: column;
	padding: 25px;
	align-items: center;
}

.center {
	display: block;
	margin-top: 350px;
}

.center > button {
	width: 100px;
}

button > img {
	color: #fff;
	width: 10px;
	height: 10px;
}

// .modalContainer .title {
//   display: inline-block;
//   text-align: center;
//   position: relative;
//   top: 400px;
// }

// .titleCloseBtn {
//   display: flex;
//   justify-content: flex-end;
// }

// .titleCloseBtn button {
//   background-color: transparent;
//   border: none;
//   font-size: 25px;
//   cursor: pointer;
// }

// .modalContainer .body {
//   flex: 50%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 1.7rem;
//   text-align: center;
// }

// .modalContainer .footer {
//   flex: 20%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .modalContainer .footer button {
//   width: 150px;
//   height: 45px;
//   margin: 10px;
//   border: none;
//   background-color: cornflowerblue;
//   color: white;
//   border-radius: 8px;
//   font-size: 20px;
//   cursor: pointer;
// }

// #cancelBtn {
//   background-color: crimson;
// }

// .titleCloseBtn > button {
//   transition: 0.4s linear;
// }

.center > button {
	position: relative;
	left: -450px;
	top: -50px;
	width: 24px;
	background: transparent;
	height: 24px;
}

button > img {
	background: #fff;
	transition: transform 0.5s ;
	width: 24px;
	height: 24px;
	transform-origin: 50% 50% 0;
}

button > img:hover {
	transform: rotate(180deg);
}

// button > img {
//   width: 24px;
// }
.center > h3 {
	color: #000;
	font-size: 21px;
	font-weight: 700;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.aboutCenter {
	position: relative;
	left: 50px;
	width: 250px;
	line-height: 20px;
	color: #000;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
}